@model BelExamen.Models.ProductosModel
@using BelExamen.BE;
 
@{
    ViewBag.Title = "Dealle de Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Mostrando productos del catálogo</h2>

<div>
    @{
        if (Model.Productos != null)
        {
            foreach (var producto ProductoBE in Model.Productos)
            {
                {
                    <div>
                    </div>
                }
        }
    }
</div>
